<top-header title="Alerts" titledescription="One place to find all your alerts and notifications"></top-header>
<div class="row blockContainer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="alertsGrid">
                <h3 class="panel-title">Alerts</h3>
            </div>
            <div class="panel-body">
                <div ui-grid="getAlertsDataGridOptions" class="alerts-trades-list-grid" external-scopes="$scope"></div>
            </div>
        </div>
    </div>
</div>