<top-header title="Followers" titledescription="Follow Requests and Recent Trades"></top-header>
<div class="row blockContainer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="yourFollowersGrid">
                <h3 class="panel-title">Your Followers</h3>
            </div>
            <div class="panel-body">
                <div class="row blockContainer">
                    <div class="col-md-4 col-md-offset-8 pull-right">
                        <div class="field-wrapper"><label>Select League:</label><select type="text" ng-change="reloadMyFollowersGrids()" ng-model="myLeagueSelected" ng-options="league as league.name for league in myLeagues  | filter:{league:$viewValue}" class="form-control singleSelect"/></div>
                    </div>
                </div>
                <div ui-grid="getLeagueUsersFollowersDataGridOptions" class="alerts-trades-list-grid" external-scopes="$scope"></div>
            </div>
        </div>
    </div>
</div>
<div class="row blockContainer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="yourFollowingGrid">
                <h3 class="panel-title">Players you are Following</h3>
            </div>
            <div class="panel-body">
                <div class="row blockContainer">
                    <div class="col-md-4 col-md-offset-8 pull-right">
                        <div class="field-wrapper"><label>Select League:</label><select type="text" ng-change="reloadYourFollowingGrids()" ng-model="allLeagueSelected" ng-options="league as league.name for league in allLeagues  | filter:{league:$viewValue}" class="form-control singleSelect"/></div>
                    </div>
                </div>
                <div ui-grid="getLeagueUsersFollowingDataGridOptions" class="alerts-trades-list-grid" external-scopes="$scope"></div>
            </div>
        </div>
    </div>
</div>

