<top-header title="Hall Of Fame" titledescription="Leader Board"></top-header>
<div class="row blockContainer leader-board" id="leagueLeaderBoard">
    <div class="row leader-board-panel-container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" id="viewChampionsLeagueLeaderBoard" class="btn btn-success league-1 pull-right" ng-click="listOfUsersLeague(league1)">Detailed View</button></h3>
                    <div class="panel-title league-1" id="premierLeagueLeaderBoard"><i class="fa fa-star fa-fw"></i> {{league1.name}} League - Top 12 Players</div>
                    <span>Players : {{league1.playersCount}}</span>
                </div>
                <div class="panel-body panel-profile-pic">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="player in league1.players">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>Rank {{player.rank}} - {{player.name}}</div>
                            </div>
                            <div class="panel-body">
                                <img class="profilePic" ng-src="{{getFinalURL('profilePic?userId='+player.userId)}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row leader-board-panel-container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-success league-2 pull-right" ng-click="listOfUsersLeague(league2)">Detailed View</button></h3>
                    <div class="panel-title league-2" id="championsLeagueLeaderBoard"><i class="fa fa-trophy fa-fw"></i> {{league2.name}} League - Top 12 Players</div>
                    <span>Players : {{league2.playersCount}}</span>
                </div>
                <div class="panel-body panel-profile-pic">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="player in league2.players">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>Rank {{player.rank}} - {{player.name}}</div>
                            </div>
                            <div class="panel-body">
                                <img class="profilePic" ng-src="{{getFinalURL('profilePic?userId='+player.userId)}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row leader-board-panel-container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-success league-3 pull-right" ng-click="listOfUsersLeague(league3)">Detailed View</button></h3>
                    <div class="panel-title league-3" id="legendLeagueLeaderBoard"><i class="fa fa-flag fa-fw"></i> {{league3.name}} League - Top 12 Players</div>
                    <span>Players : {{league3.playersCount}}</span>
                </div>
                <div class="panel-body panel-profile-pic">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="player in league3.players">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>Rank {{player.rank}} - {{player.name}}</div>
                            </div>
                            <div class="panel-body">
                                <img class="profilePic" ng-src="{{getFinalURL('profilePic?userId='+player.userId)}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<div class="blockContainer leader-board">
    <div class="row leader-board-panel-container">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-1">{{league1.name}} - <i class="fa fa-star-o fa-fw"></i></h3>
                </div>
                <div class="panel-body">
                    <div class="leagues-icon-1 league-1"><i class="fa fa-star fa-fw"></i></div>
                    <div class="leagues-lock-text-1 league-1">Players : <span class="counter">{{league1.playersCount}}</span></div>
                    <div class="leagues-lock-text-1">
                        <button type="button" class="btn btn-success league-1" ng-click="listOfUsersLeague(league1)">Champions Detailed View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-1">{{league1.name}} - Top 10 Champions</h3>
                </div>
                <div class="panel-body">
    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blockContainer leader-board">
    <div class="row leader-board-panel-container">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-2">{{league2.name}} - <i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i></h3>
                </div>
                <div class="panel-body">
                    <div class="leagues-icon-2 league-2"><i class="fa fa-trophy fa-fw"></i></div>
                    <div class="leagues-lock-text-2 league-2">Players : <span class="counter">{{league2.playersCount}}</span></div>
                    <div class="leagues-lock-text-2">
                        <button type="button" class="btn btn-success league-2" ng-click="listOfUsersLeague(league2)">Champions Detailed View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-2">{{league2.name}} - Top 10 Champions</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="blockContainer leader-board">
    <div class="row leader-board-panel-container">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-3">{{league3.name}} - <i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i></h3>
                </div>
                <div class="panel-body">
                    <div class="leagues-icon-3 league-3"><i class="fa fa-flag-checkered fa-fw"></i></div>
                    <div class="leagues-lock-text-3 league-3">Players : <span class="counter">{{league3.playersCount}}</span></div>
                    <div class="leagues-lock-text-3">
                        <button type="button" class="btn btn-success league-3" ng-click="listOfUsersLeague(league3)">Champions Detailed View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title league-3">{{league3.name}} - Top 10 Champions</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>-->
