<top-header title="Play Arena" titledescription="Game Dashboard - Play, win and unlock leagues"></top-header>

<div class="row blockContainer leagues-dashboard" id="leagueLeaguesBoard">
    <tabset justified="true">
        <tab select="selectLeague(leagueList1)">
            <tab-heading class="leagues-lock-text-1 league-1" id="premierLeagueLeaguesBoard">
                {{leagueList1.name}} League - <i class="fa fa-star fa-fw"></i>
                <span ng-if="leagueList1.locked === 'true'" class="pull-right"><i class="fa fa-lock fa-fw"></i></span>
                <span ng-if="leagueList1.locked !== 'true'" class="pull-right"><i class="fa fa-unlock fa-fw"></i></span>
            </tab-heading>
            <div class="row">
                <div class="col-md-4">
                    <div class="leagues-lock-text-1 leagues-buttons">
                        <!--<button ng-if="leagueList1.locked === 'true'" type="button" class="btn btn-success league-1" ng-click="unlockLeague1(leagueList1)">How to Unlock</button>-->
                        <button type="button" class="btn btn-success league-1"><a href="#/leaderBoard" class="league-1">Hall of Fame</a></button>
                        <button type="button" class="btn btn-success league-1" id="viewListUsersLeagueLeaguesBoard1" ng-click="listOfUsersLeague(leagueList1.leagueId)">List of Players : <span>{{leagueList1.playersCount}}</span></button>
                    </div>
                </div>
            </div>

            <div ng-if="leagueList1.locked === 'true'">
                <div ng-controller="LeaguesDialogController">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title league-1">{{leagueList1.name}} - <i class="fa fa-star-o fa-fw"></i></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="leagues-icon-1 league-1"><i class="fa fa-star fa-fw"></i></div>
                                    <div class="leagues-lock-text-1 league-1">Players : <span class="counter">{{leagueList1.playersCount}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title ">Qualification Criteria</h3>
                                </div>
                                <div class="panel-body">
                                    <p class=" league-rules">
                                        Answer the below multi-choice questions and you will be <i class="fa fa-unlock fa-fw"></i>unlocked to play in this League.
                                    </p>
                                    <p class="">Tip : Go through our quick tutorial on Stock Markets and you can answer these questions easily.
                                        Tutorial will take less than 15 mins to read.</p>
                                    <p class=" league-rules">
                                    <h4 class=" league-rules">Rules:</h4>
                                    <ul class=" league-rules">
                                        <li class=" league-rules">You will be given a initial Cash Amount of <i class="fa fa-usd fa-fw"></i>100,000.</li>
                                        <li class=" league-rules">Play fast and make more value, to become a Premier League Champion.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <!-- Page Content Panel -->
                            <div class="panel">
                                <div class="panel-body">
                                    <form class="form-horizontal" name="mainForm" role="form" novalidate>
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label">
                                                <label>*What is a share ?</label>
                                            </div>
                                            <div class="col-sm-8" ng-class="{'has-error': (mainForm.question1.$dirty || formcontrol.submitted) && mainForm.question1.$invalid}">
                                                <select type="text" ng-required="true" name="question1"
                                                        ng-options="question1.type as question1.name for question1 in question1Mappings" class="form-control" ng-model="formmodel.question1">
                                                </select>
                                                <div ng-show="mainForm.question1.$dirty || formcontrol.submitted">
                                                    <span class="help-block" ng-show = "mainForm.question1.$error.required">The field is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label">
                                                <label>*Who is a Shareholder ?</label>
                                            </div>
                                            <div class="col-sm-8" ng-class="{'has-error': (mainForm.question2.$dirty || formcontrol.submitted) && mainForm.question2.$invalid}">
                                                <select type="text" ng-required="true" name="question2"
                                                        ng-options="question2.type as question2.name for question2 in question2Mappings" class="form-control" ng-model="formmodel.question2">
                                                </select>
                                                <div ng-show="mainForm.question2.$dirty || formcontrol.submitted">
                                                    <span class="help-block" ng-show = "mainForm.question2.$error.required">The field is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label">
                                                <label>*Which is a safer order ?</label>
                                            </div>
                                            <div class="col-sm-8" ng-class="{'has-error': (mainForm.question3.$dirty || formcontrol.submitted) && mainForm.question3.$invalid}">
                                                <select type="text" ng-required="true" name="question3"
                                                        ng-options="question3.type as question3.name for question3 in question3Mappings" class="form-control" ng-model="formmodel.question3">
                                                </select>
                                                <div ng-show="mainForm.question3.$dirty || formcontrol.submitted">
                                                    <span class="help-block" ng-show = "mainForm.question3.$error.required">The field is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrongAnswer pull-right" ng-show="wrongAnswer">{{wrongAnswer}}</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="perform('unlockLeague')">Unlock</button>
                    </div>
                </div>
            </div>


            <div ng-if="leagueList1.locked !== 'true'" id="portfolioTabContentContainer1">
                <div class="row stock-quote-summary-panel my-portfolio-container blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-heading" id="portfolioSummaryMyPortfolio1">
                                <!--<h3 class="panel-title">{{leagueSelected.name}}</h3>-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-1"><label class="league-1">Portfolio Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio1.portfolioValue}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-1"><label class="league-1">Cash Balance:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio1.remainingBalance}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-1"><label class="league-1">Total Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio1.totalValue}}</span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockHoldingsMyPortfolio1">
                                <h3 class="panel-title">Stock Holdings</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getStockHoldingsDataGridOptions1" class="stock-holdings-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockListsMyPortfolio1">
                                <h3 class="panel-title">Stocks List</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="stockListGridOptions1" class="stock-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="recentTradesMyPortfolio1">
                                <h3 class="panel-title">My Recent Trades</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getRecentTradesDataGridOptions1" class="recent-trades-list-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab select="selectLeague(leagueList2)">
            <tab-heading class="leagues-lock-text-2 league-2" id="championsLeagueLeaguesBoard">
                {{leagueList2.name}} League - <i class="fa fa-trophy fa-fw"></i>
                <span ng-if="leagueList2.locked === 'true'" class="pull-right"><i class="fa fa-lock fa-fw"></i></span>
                <span ng-if="leagueList2.locked !== 'true'" class="pull-right"><i class="fa fa-unlock fa-fw"></i></span>
            </tab-heading>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="leagues-lock-text-2 leagues-buttons">
                        <!--<button ng-if="leagueList2.locked === 'true'" type="button" class="btn btn-success league-2" ng-click="unlockLeague2(leagueList2)">How to Unlock</button>-->
                        <button type="button" class="btn btn-success league-2"><a href="#/leaderBoard" class="league-2">Hall of Fame</a></button>
                        <button type="button" class="btn btn-success league-2" id="viewListUsersLeagueLeaguesBoard2" ng-click="listOfUsersLeague(leagueList2.leagueId)">List of Players : <span>{{leagueList2.playersCount}}</span></button>
                    </div>
                </div>
            </div>

            <div ng-if="leagueList2.locked === 'true'">
                <div ng-controller="LeaguesDialogController">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title league-2">{{leagueList2.name}} - <i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="leagues-icon-2 league-2"><i class="fa fa-trophy fa-fw"></i></div>
                                    <div class="leagues-lock-text-2 league-2">Players : <span class="counter">{{leagueList2.playersCount}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title ">Qualification Criteria</h3>
                                </div>
                                <div class="panel-body">
                                    <p class=" league-rules">
                                        Play the Premier League and make a League Value of <br/><i class="fa fa-usd fa-fw"></i>115,000.
                                        Then you will be automatically <i class="fa fa-unlock fa-fw"></i>unlocked to play this league.
                                    </p>
                                    <p class=" league-rules">
                                    <h4 class=" league-rules">Rules:</h4>
                                    <ul class=" league-rules">
                                        <li class=" league-rules">You will be given a initial Cash Amount of <i class="fa fa-usd fa-fw"></i>100,000.</li>
                                        <li class=" league-rules">To increase complexity, Stop Loss Orders will be disabled for this League</li>
                                        <li class=" league-rules">Play fast and make more value, to become a Champions League Champion.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

            <div ng-if="leagueList2.locked !== 'true'" id="portfolioTabContentContainer2">
                <div class="row stock-quote-summary-panel my-portfolio-container blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-heading" id="portfolioSummaryMyPortfolio2">
                                <!--<h3 class="panel-title">{{leagueSelected.name}}</h3>-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-2"><label class="league-2">Portfolio Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio2.portfolioValue}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-2"><label class="league-2">Cash Balance:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio2.remainingBalance}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-2"><label class="league-2">Total Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio2.totalValue}}</span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockHoldingsMyPortfolio2">
                                <h3 class="panel-title">Stock Holdings</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getStockHoldingsDataGridOptions2" class="stock-holdings-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockListsMyPortfolio2">
                                <h3 class="panel-title">Stocks List</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="stockListGridOptions2" class="stock-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="recentTradesMyPortfolio2">
                                <h3 class="panel-title">My Recent Trades</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getRecentTradesDataGridOptions2" class="recent-trades-list-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>
        <tab select="selectLeague(leagueList3)">
            <tab-heading class="leagues-lock-text-3 league-3" id="legendLeagueLeaguesBoard">
                {{leagueList3.name}} League - <i class="fa fa-flag-checkered fa-fw"></i>
                <span ng-if="leagueList3.locked === 'true'" class="pull-right"><i class="fa fa-lock fa-fw"></i></span>
                <span ng-if="leagueList3.locked !== 'true'" class="pull-right"><i class="fa fa-unlock fa-fw"></i></span>
            </tab-heading>
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="leagues-lock-text-3 leagues-buttons">
                        <!--<button ng-if="leagueList3.locked === 'true'" type="button" class="btn btn-success league-3" ng-click="unlockLeague3(leagueList3)">How to Unlock</button>-->
                        <button type="button" class="btn btn-success league-3"><a href="#/leaderBoard" class="league-3">Hall of Fame</a></button>
                        <button type="button" class="btn btn-success league-3" id="viewListUsersLeagueLeaguesBoard3" ng-click="listOfUsersLeague(leagueList3.leagueId)">List of Players : <span>{{leagueList3.playersCount}}</span></button>
                    </div>
                </div>
            </div>

            <div ng-if="leagueList3.locked === 'true'">
                <div ng-controller="LeaguesDialogController">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title league-3">{{leagueList3.name}} - <i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i><i class="fa fa-star-o fa-fw"></i></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="leagues-icon-3 league-3"><i class="fa fa-flag-checkered fa-fw"></i></div>
                                    <div class="leagues-lock-text-3 league-3">Players : <span class="counter">{{leagueList3.playersCount}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title ">Qualification Criteria</h3>
                                </div>
                                <div class="panel-body">
                                    <p class=" league-rules">
                                        Play the Champions League and make a League Value of <br/><i class="fa fa-usd fa-fw"></i>125,000.
                                        Then you will be automatically <i class="fa fa-unlock fa-fw"></i>unlocked to play this league.
                                    </p>
                                    <p class="">
                                    <h4 class=" league-rules">Rules:</h4>
                                    <ul class=" league-rules">
                                        <li class=" league-rules">You will be given a initial Cash Amount of <i class="fa fa-usd fa-fw"></i>100,000.</li>
                                        <li class=" league-rules">To increase complexity, Stop Loss Orders and Limit Orders will be disabled for this League</li>
                                        <li class=" league-rules">Play fast and make more value, to become a Legends League Champion.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

            <div ng-if="leagueList3.locked !== 'true'" id="portfolioTabContentContainer3">
                <div class="row stock-quote-summary-panel my-portfolio-container blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-heading" id="portfolioSummaryMyPortfolio3">
                                <!--<h3 class="panel-title">{{leagueSelected.name}}</h3>-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-3"><label class="league-3">Portfolio Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio3.portfolioValue}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-3"><label class="league-3">Cash Balance:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio3.remainingBalance}}</span></span></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="field-wrapper league-3"><label class="league-3">Total Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio3.totalValue}}</span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockHoldingsMyPortfolio3">
                                <h3 class="panel-title">Stock Holdings</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getStockHoldingsDataGridOptions3" class="stock-holdings-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stockListsMyPortfolio3">
                                <h3 class="panel-title">Stocks List</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="stockListGridOptions3" class="stock-list-grid" external-scopes="$scope"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blockContainer">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="recentTradesMyPortfolio3">
                                <h3 class="panel-title">My Recent Trades</h3>
                            </div>
                            <div class="panel-body">
                                <div ui-grid="getRecentTradesDataGridOptions3" class="recent-trades-list-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>
    </tabset>
</div>