<top-header title="Practice Arena" titledescription="Practise and Learn how to trade stocks"></top-header>

    <div class="row stock-quote-summary-panel my-portfolio-container blockContainer">
       <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading" id="portfolioSummaryMyPortfolio">
                    <!--<h3 class="panel-title">{{leagueSelected.name}}</h3>-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="field-wrapper"><label>Portfolio Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio.portfolioValue}}</span></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="field-wrapper"><label>Cash Balance:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio.remainingBalance}}</span></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="field-wrapper"><label>Total Value:</label><span><i class="fa fa-usd fa-fw"/><span class="counter">{{myPortfolio.totalValue}}</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blockContainer">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="stockHoldingsMyPortfolio">
                    <h3 class="panel-title">Stock Holdings</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="getStockHoldingsDataGridOptions" class="stock-holdings-list-grid" external-scopes="$scope"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="stockListsMyPortfolio">
                    <h3 class="panel-title">Stocks List</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="stockListGridOptions" class="stock-list-grid" external-scopes="$scope"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blockContainer">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="recentTradesMyPortfolio">
                    <h3 class="panel-title">My Recent Trades</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="getRecentTradesDataGridOptions" class="recent-trades-list-grid"></div>
                </div>
            </div>
        </div>
    </div>