<top-header title="Watch Stocks" titledescription="Setup notifications for Stock Price Fluctuations"></top-header>

<div class="row blockContainer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="watchListGrid">
                <h3 class="panel-title">Stocks List</h3>
            </div>
            <div class="panel-body">
                <div ui-grid="stockListGridOptions" class="stock-list-grid" external-scopes="$scope"></div>
            </div>
        </div>
    </div>
</div>
